// These colors are specific to the theme. Do not use in a package!

// From redui-jm-syntax
@lighter-gray: #c5c8c6;
@light-gray: rgba(157, 157, 157, 0.6);
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;
@selection: #004964;

@coffee: #2F2C28;
@cyan: #8abeb7;
@blue: #11BAB4;
@purple: #b294bb;
@yellow: #E79B25;
@red: #E74C3C;
@orange: #E84A4A;
@light-orange: #E7DCB9;
@cursor: #FFE978;

// ZOOCE COLORS

@zooce-red: #E84A4A;
@zooce-dark-red: darken(@zooce-red, 9%);

@zooce-gray: #2A2F36;
@zooce-light-gray: lighten(@zooce-gray, 9%);
@zooce-dark-gray: darken(@zooce-gray, 9%);

@zooce-blue: #31797D;
@zooce-light-blue: lighten(@zooce-blue, 9%);
@zooce-dark-blue: darken(@zooce-blue, 9%);

@zooce-alt-blue: #225378;
@zooce-light-alt-blue: lighten(@zooce-alt-blue, 9%);
@zooce-very-light-alt-blue: lighten(@zooce-alt-blue, 18%);

@zooce-purple: #AB77F8;
@zooce-light-purple: lighten(@zooce-purple, 3%);
@zooce-dark-purple: darken(@zooce-purple, 9%);

@zooce-yellow: #E79B25;
@zooce-light-yellow: lighten(@zooce-yellow, 9%);

@zooce-green: #61C791;
@zooce-light-green: lighten(@zooce-green, 9%);
@zooce-dark-green: darken(@zooce-green, 9%);
@zooce-very-dark-green: darken(@zooce-green, 18%);

@zooce-white: #E0DBB4;
@zooce-light-white: lighten(@zooce-white, 9%);
@zooce-dark-white: darken(@zooce-white, 9%);
